<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/Task_Airport</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>

<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<property name="show_sql">true</property>
<property name="hbm2ddl.auto">create</property>


<mapping class="com.pojo.Airport" /> 
<mapping class="com.pojo.Terminals" /> 
 <mapping class="com.pojo.Flight" />
<mapping class="com.pojo.Arrivals" />
<mapping class="com.pojo.Departures" />     
<mapping class="com.pojo.Transport" /> 
<mapping class="com.pojo.Parking" /> 
<mapping class="com.pojo.Lounges" />
<mapping class="com.pojo.Services" /> 
<mapping class="com.pojo.Weather" /> 
<mapping class="com.pojo.CarRental" /> 
<mapping class="com.pojo.Hotels" /> 
<mapping class="com.pojo.Transfers" /> 
</session-factory>
</hibernate-configuration>

